[Desktop Entry]
Type=Application
Name=Calculator
Comment=Native cross-platform calculator
Exec=infiltrator-calc
Icon=infiltrator-calc
Terminal=false
Categories=Utility;Calculator;GTK;
StartupNotify=true
